*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
    width: 200px;
}
button{
    border: none;
    padding: 0;
    border-radius: 4px;
    width: 100px;
    padding: 8px 16px;
}
body{
    display: flex;
    flex-direction: column;
    /* padding-left: 64px;
    padding-right: 64px; */
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
header{
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 24px 128px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;

}
ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    align-items: center;
}
.hero-container{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 64px 128px;
    gap: 64px;
}    
.hero{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 32px;
}
.hero h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero p{
    font-size: 18px;
    color: #e5e7eb;
}
button{
    background-color: #3882f6;
    color: #e5e7eb;
}
.dev-img{
    /* width: 300px; */
    flex: 1;
}